<div class ="shell">
  <% @categories.each do |category| %>
  <div class="container">
    <h2><%= link_to image_tag(category.image_url, border: 1), category_path(category) %></h2>
    <div class="bottomright"><%= category.name %></div>
  </div>
  <% end %>
</div>
